th{
    background-color:burlywood;
    color:gray;
}
td{
    background-color:bisque;
    color:black;
}
body{
    background-color:lightgrey;
}
table{
    margin-right: auto;
	margin-left: auto;
}
h1,h3{
    text-align: center;
}